@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Oswald:100,200,300,400,500,600,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    font-family: Oswald, sans-serif;
    background-color: #4021BD;
}

.flashes {
    line-height: 2;
    color: white;
    background-color: #EA0F0B;
}

#logo {
    font-size: 1.5rem;
    left: 0;
    transform: none;
    margin-left: 2.5em;
}

main {
    font-family: Roboto, sans-serif;
}

main h4 {
    font-family: Oswald, sans-serif;
    letter-spacing: 1px;
}

form i {
    color: #4021BD;
}

/* Override Materialize.css active class */
.input-field .prefix.active {
    color: rgb(96, 104, 216);
}

#search-area {
    background-color: #414CD9;
    height: 35vh;
    position: relative;
}

.search-container {
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.search-bar {
    background-color: white;
    border-radius: 10px;
}

.search-bar button {
    padding-top: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.search-bar i:hover {
    color: #414CD9;
}

#query {
    padding-top: 10px;
    border-bottom: none;
}

.call-to-action-area {
    margin-top: 2rem;
}

.cta-icon {
    margin-top: 0.5em;
    color: #4021BD;
    font-size: 50px;
}

.call-to-action-area p {
    font-size: 1.25em;
}

.cta-col {
    background-color: white;
}

.btn-container {
    margin-top: 2em;
    margin-bottom: 3.5em;
}

.cta-btn {
    border-radius: 20px;
    background-color: #4021BD;
}

.cta-btn:hover {
    background-color: rgb(96, 104, 216);
}

#quotes-area {
    color: black;
    background-color: #FFE5B4;
}

#quotes-area h4 {
    padding-top: 2rem;
}

#quotes-area p, q {
    font-size: 1.25em;
    font-style: italic;
}

.quote-paragraph {
    margin: 1em 0;
}

.btn-color {
    background-color: #4021BD;
}

.btn-color:hover {
    background-color: rgb(96, 104, 216);
}

/*--------------------------------------------BOOTSTRAP BREAKPOINTS*/

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    nav ul a {
        font-size: 2rem;
    }
    #logo {
        font-size: 2.5rem;
        margin-left: 2em;
    }
    .row-spacing {
        margin-bottom: 80px;
    }

    .search-bar button {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    #query {
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 30px;
    }
    main h4 {
        font-size: 2.5rem;
    }
    .call-to-action-area p {
        margin-top: 2rem;
        font-size: 1.5em;
    }
    .cta-icon {
        font-size: 75px;
    }
    #quotes-area p, q {
        font-size: 1.5em;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #logo {
        margin-left: 0.5em;
    }
}

/* // X-Large devices (large desktops, 1280px and up) */
/* @media (min-width: 1280px) and (min-height: 802px):  { */
@media (min-width: 1280px) {
}

/* // XX-Large devices (larger desktops, 1600px and up) */
/* @media (min-width: 1600px) and (min-height: 992px){ */
@media (min-width: 1600px) {
}