@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Oswald:100,200,300,400,500,600,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.footer-bg-color {
    background-color: #4021BD;
}

.page-footer ul li {
    display: inline-block;
}

nav {
    font-family: Oswald, sans-serif;
    background-color: #4021BD;
}

.flashes {
    line-height: 2;
    color: white;
    background-color: #EA0F0B;
}

#logo {
    font-size: 1.5rem;
    left: 0;
    transform: none;
    margin-left: 2.5em;
}

main {
    flex: 1 0 auto;
    font-family: Roboto, sans-serif;
}

main h4 {
    font-family: Oswald, sans-serif;
    letter-spacing: 1px;
}

form i {
    color: #4021BD;
}

/* Override Materialize.css active class */
.input-field .prefix.active {
    color: rgb(96, 104, 216);
}

#search-area {
    background-color: #414CD9;
    height: 35vh;
    position: relative;
}

.search-container {
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.search-bar {
    background-color: white;
    border-radius: 10px;
}

.search-bar button {
    padding-top: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.search-bar i:hover {
    color: #414CD9;
}

#query {
    padding-top: 10px;
    border-bottom: none;
}

.call-to-action-area {
    margin-top: 2rem;
}

.cta-icon {
    margin-top: 0.5em;
    color: #4021BD;
    font-size: 50px;
}

.call-to-action-area p {
    font-size: 1.25em;
}

.cta-col {
    background-color: white;
}

.btn-container {
    margin-top: 2em;
    margin-bottom: 3.5em;
}

.cta-btn {
    border-radius: 20px;
    background-color: #4021BD;
}

.cta-btn:hover {
    background-color: rgb(96, 104, 216);
}

#quotes-area {
    color: black;
    background-color: #FFE5B4;
}

#quotes-area h4 {
    padding-top: 2rem;
}

#quotes-area p, q {
    font-size: 1.25em;
    font-style: italic;
}

.quote-paragraph {
    margin: 1em 0;
}

.btn-color {
    background-color: #4021BD;
}

.btn-color:hover {
    background-color: rgb(96, 104, 216);
}

/* Books Page */

#books-page-wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.pagination-area {
    height: 10vh;
}

.pagination-container {
    text-align: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.pagination {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pag-active {
    background-color: #4021BD;
}

.book {
    margin-bottom: 2em;
}

.book-img-container {
    margin: 0 auto;
    width: 60%;
    height: 300px;
}

.book-img {
    width: 100%;
    height: 100%;
}

.book-info {
    width: 60%;
    margin: 1em auto;
}

.book-info a {
    color: black;
}

.book-info a:hover {
    color: rgb(31, 31, 192);
}

.book-img-container:hover {
    opacity: 0.9;
}

/* Book page */

#book-page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

#book-page-info-area {
    margin-top: 3em;
}

.book-page-img-container {
    margin: 0 auto;
    width: 85%;
    height: 400px;
}

.book-details {
    margin: 0 auto;
    width: 80%;
}

.book-details h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: normal;
}

.book-details h6 {
    font-family: 'Times New Roman', Times, serif;
}

#book-description, #add-review, #reviews {
    width: 90%;
    margin: 0 auto;
}

.book-btn-container {
}

.book-btn {
    border-radius: 10px;
    background-color: #4021BD;
    color: white;
}

.book-btn:hover {
    background-color: rgb(96, 104, 216);
}

/* 404 Error Page */

#error-page {
    max-width: 1200px;
    margin: 0 auto;
}

.error-img-container {
    width: 80%;
    margin: 1.5em auto 1em;
    height: 300px;
    border: 1px solid black;
}

.error-img {
    width: 100%;
    height: 100%;
}

.error-col p {
    margin-top: 1.5em;
    font-size: 1.25em;
}

/* Stars */

/*--------------------------------------------BOOTSTRAP BREAKPOINTS*/

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    nav ul a {
        font-size: 2rem;
    }
    #logo {
        font-size: 2.5rem;
        margin-left: 2em;
    }
    .row-spacing {
        margin-bottom: 80px;
    }

    .search-bar button {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    #query {
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 30px;
    }
    main h4 {
        font-size: 2.5rem;
    }
    .call-to-action-area p {
        margin-top: 2rem;
        font-size: 1.5em;
    }
    .cta-icon {
        font-size: 75px;
    }
    #quotes-area p, q {
        font-size: 1.5em;
    }
    /* Book page */

    /* 404 Error Page */
    #error-page .row {
        margin-top: 2em;
    }
    .error-img-container {
        width: 65%;
        height: 550px;
    }
    .error-description {
        width: 65%;
        margin: 0 auto;
    }
    .error-description h4 {
        font-size: 3em;
    }
    .error-description p {
        font-size: 1.75em;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #logo {
        margin-left: 0.5em;
    }
    /* Book page */
    .book-page-img-container {
        height: 500px;
    }
    /* 404 Error Page */
    .error-img-container {
        width: 85%;
        height: 550px;
    }
}

/* // X-Large devices (large desktops, 1280px and up) */
/* @media (min-width: 1280px) and (min-height: 802px):  { */
@media (min-width: 1280px) {
}

/* // XX-Large devices (larger desktops, 1600px and up) */
/* @media (min-width: 1600px) and (min-height: 992px){ */
@media (min-width: 1600px) {
}