@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Oswald:100,200,300,400,500,600,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.footer-bg-color {
    background-color: #4021BD;
}

.page-footer ul li {
    display: inline-block;
}

nav {
    font-family: Oswald, sans-serif;
    background-color: #4021BD;
}

/* Help with Searchbar inside of Navbar */
/* https://www.youtube.com/watch?v=L3K45LKJWSQ */
.searchbar {
  position: relative;
  background-color: white;
}

.searchbar input[type="text"] {
  border: 0;
  padding: 0;
  width: 0px;
  height: 35px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.searchbar .icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 100%;
  background: none;
  color: #fff;
  transition: all 0.5s 0.3s ease;
}

.searchbar .icon i {
  position: absolute;
  top: 75%;
  left: 65%;
  transform: translate(-75%,-50%);
  cursor: pointer;
  color: white;
}

.searchbar .icon.active {
  background: #4021BD;
  transition: all 0.3s ease;
}

.searchbar input[type="text"].active {
  width: 150px;
  padding: 0 10px;
  transition: all 0.5s 0.2s ease;
}

.flash-success {
    line-height: 2;
    color: white;
    background-color: forestgreen;
}

.flash-error {
    line-height: 2;
    color: white;
    background-color: red;
}

#logo {
    font-size: 1.5rem;
    left: 0;
    transform: none;
    margin-left: 2.5em;
}

main {
    flex: 1 0 auto;
    font-family: Roboto, sans-serif;
}

main h4 {
    font-family: Oswald, sans-serif;
    letter-spacing: 1px;
}

form i {
    color: #4021BD;
}

/* Override Materialize.css active class */
.input-field .prefix.active {
    color: rgb(96, 104, 216);
}

#search-area {
    background-color: #414CD9;
    height: 35vh;
    position: relative;
}

.search-container {
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.search-bar {
    background-color: white;
    border-radius: 10px;
}

.search-bar button {
    padding-top: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.search-bar i:hover {
    color: #414CD9;
}

#query {
    padding-top: 10px;
    border-bottom: none;
}

.call-to-action-area {
    margin-top: 2rem;
}

.cta-icon {
    margin-top: 0.5em;
    color: #4021BD;
    font-size: 50px;
}

.call-to-action-area p {
    font-size: 1.25em;
}

.cta-col {
    background-color: white;
}

.btn-container {
    margin-top: 2em;
    margin-bottom: 3.5em;
}

.cta-btn {
    border-radius: 20px;
    background-color: #4021BD;
}

.cta-btn:hover {
    background-color: rgb(96, 104, 216);
}

#quotes-area {
    color: black;
    margin-bottom: 1em;
    max-width: 1400px;
}

#quotes-area h4, #most-popular-area h4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;
}

.quote-paragraph {
    margin: 1em 0;
}

.quote {
    font-size: 1.25em;
    font-weight: 450;
    font-style: italic;
}

.quote i {
    font-size: 1em;
}

.author-name {
    font-size: 1em;
}

.author-img-container {
    border-radius: 50%;
    border: 1px solid black;
    width: 75px;
    height: 75px;
    float: right;
}
.author-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.btn-color {
    background-color: #4021BD;
}

.btn-color:hover {
    background-color: rgb(96, 104, 216);
}

#most-popular-area {
    color: white;
    background-color: #4021BD;
    margin-bottom: 0;
}

#most-popular-area .book {
    margin-top: 2em;
    padding-bottom: 2em;
}

#most-popular-area .book-img-container {
    border: 2px solid white;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    font-size: 13px;
    line-height: 7px;
    border-radius: 50%;
    border: 1px solid white;
    color: #4021BD;
    background: white;
    transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
}

.social-links li a i:hover {
    color: white;
    background: rgb(96, 104, 216);
}

/*--------------------------------------------BOOKS PAGE*/

#books-page-wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.pagination-area {
    height: 10vh;
}

.pagination-container {
    text-align: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.pagination {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pag-active {
    background-color: #4021BD;
}

.book {
    margin-bottom: 2em;
}

.book-img-container {
    margin: 0 auto;
    width: 60%;
    height: 300px;
}

.book-img {
    width: 100%;
    height: 100%;
}

.book-info {
    width: 60%;
    margin: 1em auto;
}

.book-info a {
    color: black;
}

.book-info a:hover {
    color: rgb(31, 31, 192);
}

.book-img-container:hover {
    opacity: 0.85;
}

/*--------------------------------------------BOOK PAGE*/

#book-page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.book-page-info {
    position: relative;
}

#book-page-info-area {
    margin-top: 3em;
}

.book-page-img-container {
    margin: 0 auto;
    width: 85%;
    height: 400px;
}

.book-details {
    margin: 0 auto;
    width: 80%;
}

.book-btns-container {
    margin: 0 auto;
    width: 80%;
}

.book-details h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: normal;
}

.book-details h6 {
    font-family: 'Times New Roman', Times, serif;
}

#book-description, #add-review, #reviews {
    width: 90%;
    margin: 0 auto;
}

#reviews {
    margin-bottom: 1em;
}

.book-btn-container {
    margin-top: 1em;
    display: inline-block;
}

.book-btn {
    border-radius: 10px;
    background-color: #4021BD;
    color: white;

    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.book-btn:hover {
    background-color: rgb(96, 104, 216);
}

#book-description, #add-review {
    margin-top: 3em;
}

#book-description p {
    font-size: 1.25em;
}

.review {
    margin: 3em auto;
    padding: 1em;
    border: 0.5px solid silver;
    border-radius: 20px;
    
    box-shadow: 0 0 3px 0 silver;
}

.edit-btn {
    color: #26a69a;
    background-color: rgba(255, 255, 255, 1);
}
.edit-btn:hover {
    color: white;
    background-color: #26a69a;
}

.delete-btn {
    color: gray;
    background-color: rgba(255, 255, 255, 1);
}
.delete-btn:hover {
    color: white;
    background-color: gray;
}

.yes-btn {
    color: white;
    background-color: green;
}

.no-btn {
    color: white;
    background-color: red;
}

.star-ratings {
  unicode-bidi: bidi-override;
  color: #ccc;
  font-size: 32px;
  position: relative;
  margin: 0;
  padding: 0;
}

.star-size {
    font-size: 20px;
}

.fill-ratings {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}

.filled {
    color: #e7711b;
}

/* Allows us to grab the width of the span elements */
span {
    display: inline-block;
}

.star-ratings-review {
  unicode-bidi: bidi-override;
  color: #ccc;
  font-size: 32px;
  position: relative;
  margin: 0;
  padding: 0;
}

.star-ratings-already-reviewed {
  unicode-bidi: bidi-override;
  color: #ccc;
  font-size: 20px;
  position: relative;
  margin: 0;
  padding: 0;
}

.empty-ratings {
    padding: 0;
    display: block;
    z-index: 0;
}

.empty-ratings-review {
    padding: 0;
    display: block;
}

.empty-ratings-review label {
    font-size: 32px;
    cursor: pointer;
}

/*--------------------------------------------PROFILE PAGE*/

#profile-img-container {
    width: 150px;
    height: 150px;
    margin: 2em auto;
    border: 1px solid gray;
    border-radius: 50%;
}

#profile-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#profile-book-display-area h4 {
    margin: 2em auto;
}

/*--------------------------------------------404 ERROR PAGE*/

#error-page {
    max-width: 1200px;
    margin: 0 auto;
}

.error-img-container {
    width: 80%;
    margin: 1.5em auto 1em;
    height: 300px;
    border: 1px solid black;
}

.error-img {
    width: 100%;
    height: 100%;
}

.error-col p {
    margin-top: 1.5em;
    font-size: 1.25em;
}

/* Stars */

/*--------------------------------------------BOOTSTRAP BREAKPOINTS*/

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    nav ul a {
        font-size: 2rem;
    }
    #logo {
        font-size: 2.5rem;
        margin-left: 2em;
    }
    .searchbar .icon{
        width: 50px;
    }
    .searchbar .icon i {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .searchbar input[type="text"].active {
        width: 250px;
    }
    .row-spacing {
        margin-bottom: 80px;
    }

    .search-bar button {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    #query {
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 30px;
    }
    main h4 {
        font-size: 2.5rem;
    }
    .call-to-action-area p {
        margin-top: 2rem;
        font-size: 1.5em;
    }
    .cta-icon {
        font-size: 75px;
    }
    .quote {
        font-size: 1.5em;
    }
    .author-name {
        font-size: 1.25em;
    }

    .author-img-container {
        width: 125px;
        height: 125px;
        float: left;
        margin-right: 10px;
    }

    /*--------------------------------------------BOOK PAGE*/

    .book-page-info {
        height: 400px;
    }
    .book-details h6 {
        font-size: 1.5em;
    }
    .book-btns-container {
        position: absolute;
        bottom: 2.5%;
        left: 10%;
    }

    /*--------------------------------------------PROFILE PAGE*/

    #profile-img-container {
        width: 250px;
        height: 250px;
    }
    /* 404 Error Page */
    #error-page .row {
        margin-top: 2em;
    }
    .error-img-container {
        width: 65%;
        height: 550px;
    }
    .error-description {
        width: 65%;
        margin: 0 auto;
    }
    .error-description h4 {
        font-size: 3em;
    }
    .error-description p {
        font-size: 1.75em;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #logo {
        margin-left: 0.5em;
    }
    .searchbar {
        margin-left: 3em;
    }
    .searchbar.active {
        margin-left: 0;
    }
    .searchbar .icon.active {
        border-right: 1px solid white;
    }
    .searchbar input[type="text"].active {
        width: 350px;
        padding: 0 10px;
        transition: all 0.5s 0.2s ease;
    }
    .author-img-container {
        width: 150px;
        height: 150px;
    }

    /* Book page */
    .book-page-info {
        height: 500px;
    }
    .book-page-img-container {
        height: 500px;
    }
    /* 404 Error Page */
    .error-img-container {
        width: 85%;
        height: 550px;
    }
}

/* // X-Large devices (large desktops, 1280px and up) */
/* @media (min-width: 1280px) and (min-height: 802px):  { */
@media (min-width: 1280px) {
}

/* // XX-Large devices (larger desktops, 1600px and up) */
/* @media (min-width: 1600px) and (min-height: 992px){ */
@media (min-width: 1600px) {
}