{% extends "base.html" %}

{% block content %}

    <section id="pagination-area">
        <div id="pagination-container">
            <ul class="pagination">
                <li class="disabled"><a href="#!"><i class="fas fa-chevron-left"></i></a></li>
                <li class="pag-active"><a href="#!" class="white-text">1</a></li>
                {% for page in range(1, number_of_pages) %}
                    <li class="waves-effect book-display"><a href="#!">{{ page+1 }}</a></li>
                {% endfor %}
                <li class="waves-effect"><a href="#!"><i class="fas fa-chevron-right"></i></a></li>
            </ul>
        </div>
    </section>

    <section id="book-display-area" class="row">
        {% for book in books %}
            <div class="book col s12 m6 l3">

                <div class="book-img-container">
                    <a href="">
                        <img class="book-img" src="{{ book.image }}">
                    </a>
                </div>

                <div class="book-info center-align">
                    <p>{{ book.title }}</p>
                    <p>{{ book.author }}</p>
                    <p>{{ book.genre }}</p>
                    <p>€10</p>
                </div>

            </div>
        {% endfor %}
    </section>
    
{% endblock %}