{% extends "base.html" %}

{% block content %}

    <section id="book-page-wrapper">

        <section id="book-page-info-area" class="row">

            <div class="book-page-info col s12 m5">
                <div class="book-page-img-container">
                    <img class="book-img" src="{{ book.image }}">
                </div>
            </div>

            <div class="book-page-info col s12 m7">
                
                <p class="rating-value" hidden>{{ rating }}</p>

                <div class="book-details">
                    <h4 class="left-align">{{ book.title }}</h4>
                    <h6>{{ book.author }}</h6>
                    <h6>Genre: {{ book.genre }}</h6>
                    <h6>
                        <a href="#reviews">{{ no_of_reviews }} Reviews</a>
                        |
                        {% if session.user %}
                        <a href="#add-review">Add Review</a>
                        {% else %}
                        <a href="{{ url_for('login') }}">Add Review</a>
                        {% endif %}
                    </h6>
                    <div class="star-ratings">
                        <div class="fill-ratings" style="width: {{ rating }}%;">
                            <span>★★★★★</span>
                        </div>
                        <div class="empty-ratings">
                            <span>★★★★★</span>
                        </div>
                    </div>
                </div>

                <div class="book-btns-container">
                    <div class="book-btn-container">
                        <a href="#" class="btn book-btn">
                            Buy
                        </a>
                    </div>

                    {% if session.user|lower == book.uploaded_by|lower or session.user|lower == 'admin' %}
                        <div class="book-btn-container">
                            <a href="{{ url_for('edit_book', book_id=book._id) }}" class="btn book-btn">
                                Edit
                            </a>
                        </div>

                        <div class="book-btn-container">
                            <a href="{{ url_for('delete_book', book_id=book._id) }}" class="btn book-btn">
                                Delete
                            </a>
                        </div>
                    {% endif %}
                </div>

            </div>
                

        </section>

        <section id="book-description">
            <h5>Description</h5>
            <p>{{ book.description }}</p>
        </section>

        <section id="add-review">
            <h5>Add Review</h5>
            {% if session.user %}
            <div class="row">

                <form class="col s12 m10 l6" method="POST" action="{{ url_for('book', book_id=book._id) }}" enctype="multipart/form-data">

                    <div class="card-panel">

                        <!-- review title -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-book prefix"></i>
                                <input id="title" name="title" type="text" minlength="2" maxlength="100" class="validate" placeholder="Review Title" required>
                                <label for="title">Review Title</label>
                            </div>
                        </div>

                        <!-- give rating -->
                        <div class="star-ratings-review">
                            <h6>Rating</h6>
                            <div class="empty-ratings-review">
                                <!-- <span>★★★★★</span> -->

                                <!-- <span id="star-1">★</span>
                                <span id="star-2">★</span>
                                <span id="star-3">★</span>
                                <span id="star-4">★</span>
                                <span id="star-5">★</span> -->

                                <label for="star-1"><span>★</span></label>
                                <input type="radio" id="star-1" value="1" name="stars">

                                <label for="star-2"><span>★</span></label>
                                <input type="radio" id="star-2" value="2"  name="stars">

                                <label for="star-3"><span>★</span></label>
                                <input type="radio" id="star-3" value="3"  name="stars">

                                <label for="star-4"><span>★</span></label>
                                <input type="radio" id="star-4" value="4"  name="stars">

                                <label for="star-5"><span>★</span></label>
                                <input type="radio" id="star-5" value="5"  name="stars">
                            </div>
                        </div>

                        <!-- description -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-comment prefix"></i>
                                <textarea id="comment" name="comment" class="materialize-textarea" required></textarea>
                                <label for="comment">Comment</label>
                            </div>
                        </div>

                        <!-- submit button -->
                        <div class="row">
                            <button type="submit" class="col s12 btn btn-color text-shadow">
                                Add Review <i class="far fa-plus-square white-text"></i>
                            </button>
                        </div>
                        
                    </div>

                </form>

            </div>
            {% else %}
            <p>To add a review you must be logged in. Log in <a href="{{ url_for('login') }}">here.</a></p>
            {% endif %}
        </section>

        <section id="reviews" class="row">
            <h5>Reviews</h5>
            {% if no_of_reviews == 0 %}
                <p>There are no reviews yet for this book.</p>
            {% endif %}
            {% for review in reviews %}
                <div class="review">
                    <h6><i class="fas fa-user prefix"></i> {{ review.reviewed_by }}</h6>
                    <h6><b>{{ review.title }}</b></h6>
                    <p>Reviewed: {{ review.review_date }}</p>
                    <div class="star-ratings star-size">
                        <div class="fill-ratings" style="width: {{ review.rating * 20 }}%;">
                            <span>★★★★★</span>
                        </div>
                        <div class="empty-ratings">
                            <span>★★★★★</span>
                        </div>
                    </div>
                    <p>{{ review.comment }}</p>

                    <div class="review-edit-delete">
                        {% if session.user|lower == book.uploaded_by|lower or session.user|lower == 'admin' %}
                            <div class="book-btn-container">
                                <a href="{{ url_for('delete_review', book_id=book._id, review_id=review._id) }}" class="btn book-btn">
                                    Edit
                                </a>
                            </div>

                            <div class="book-btn-container">
                                <a href="{{ url_for('delete_review', book_id=book._id, review_id=review._id) }}" class="btn book-btn">
                                    Delete
                                </a>
                            </div>
                        {% endif %}
                    </div>

                </div>
            {% endfor %}
        </section>

    </section>

{% endblock %}