{% extends "base.html" %}

{% block content %}

    <section id="books-page-wrapper">

        {% if results %}

        <section class="pagination-area">
            <div class="pagination-container">
                <ul class="pagination">

                    {# Enables/Disables backwards chevron link #}
                    {% if current_page == 1 %}
                        <li class="disabled pag-link">
                            <a href="#">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="waves-effect pag-link">
                            {% if query_exists %}
                            <a href="{{ url_for('search', page=previous_page) }}">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                            {% else %}
                            <a href="{{ url_for('get_books', page=previous_page) }}">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                            {% endif %}
                        </li>
                    {% endif %}

                    {% for page in range(0, number_of_pages) %}
                        {# Creates links and give active class to current page #}
                        {% if page+1 == current_page %}
                            <li class="pag-active pag-link">
                                {% if query_exists %}
                                <a href="{{ url_for('search', page=page+1) }}" class="white-text">{{ page+1 }}</a>
                                {% else %}
                                <a href="{{ url_for('get_books', page=page+1) }}" class="white-text">{{ page+1 }}</a>
                                {% endif %}
                            </li>
                        {% else %}
                            <li class="waves-effect pag-link">
                                {% if query_exists %}
                                <a href="{{ url_for('search', page=page+1) }}">{{ page+1 }}</a>
                                {% else %}
                                <a href="{{ url_for('get_books', page=page+1) }}">{{ page+1 }}</a>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}

                    {# Enables/Disables backwards chevron link #}
                    {% if current_page == number_of_pages %}
                        <li class="disabled pag-link">
                            <a href="#">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="waves-effect pag-link">
                            {% if query_exists %}
                            <a href="{{ url_for('search', page=next_page) }}">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                            {% else %}
                            <a href="{{ url_for('get_books', page=next_page) }}">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
            </div>
        </section>

        <section id="book-display-area" class="row">
            {% for book in books %}
                <div class="book col s12 m6 l3">

                    <div class="book-img-container">
                        <a href="{{ url_for('book', book_id=book._id) }}">
                            <img class="book-img" src="{{ book.image }}">
                        </a>
                    </div>

                    <div class="book-info left-align">
                        <h6><a href="{{ url_for('book', book_id=book._id) }}"><b>{{ book.title }}</b></a></h6>
                        <p>{{ book.author }}</p>
                        <p>{{ book.genre }}</p>
                        <p>€10</p>
                    </div>

                </div>
            {% endfor %}
        </section>

        <section class="pagination-area">
            <div class="pagination-container">
                <ul class="pagination">

                    {# Enables/Disables backwards chevron link #}
                    {% if current_page == 1 %}
                        <li class="disabled pag-link">
                            <a href="#">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="waves-effect pag-link">
                            {% if query_exists %}
                            <a href="{{ url_for('search', page=previous_page) }}">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                            {% else %}
                            <a href="{{ url_for('get_books', page=previous_page) }}">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                            {% endif %}
                        </li>
                    {% endif %}

                    {% for page in range(0, number_of_pages) %}
                        {# Creates links and give active class to current page #}
                        {% if page+1 == current_page %}
                            <li class="pag-active pag-link">
                                {% if query_exists %}
                                <a href="{{ url_for('search', page=page+1) }}" class="white-text">{{ page+1 }}</a>
                                {% else %}
                                <a href="{{ url_for('get_books', page=page+1) }}" class="white-text">{{ page+1 }}</a>
                                {% endif %}
                            </li>
                        {% else %}
                            <li class="waves-effect pag-link">
                                {% if query_exists %}
                                <a href="{{ url_for('search', page=page+1) }}">{{ page+1 }}</a>
                                {% else %}
                                <a href="{{ url_for('get_books', page=page+1) }}">{{ page+1 }}</a>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}

                    {# Enables/Disables backwards chevron link #}
                    {% if current_page == number_of_pages %}
                        <li class="disabled pag-link">
                            <a href="#">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="waves-effect pag-link">
                            {% if query_exists %}
                            <a href="{{ url_for('search', page=next_page) }}">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                            {% else %}
                            <a href="{{ url_for('get_books', page=next_page) }}">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
            </div>
        </section>

        {% else %}

        <section id="no-results" class="row center-align">
            <h4>There were no results for <q><b>{{ session.query }}</b></q>.</h4>
        </section>

        {% endif %}

    </section>
    
{% endblock %}