{% extends "base.html" %}

{% block content %}

    <section id="book-page-wrapper">

        <section id="book-page-info-area" class="row">

            <div class="book-page-info col s12 m5">
                <div class="book-page-img-container">
                    <img class="book-img" src="{{ book.image }}">
                </div>
            </div>

            <div class="book-page-info col s12 m7">
                <div class="book-details">
                    <h4 class="left-align">{{ book.title }}</h4>
                    <h6>{{ book.author }}</h6>
                    <h6>Genre: {{ book.genre }}</h6>
                </div>

                <div class="book-btn-container left-align">
                    <a href="#" class="btn book-btn">
                        Buy
                    </a>
                </div>

                {% if session.user|lower == book.uploaded_by|lower %}
                    <div class="book-btn-container left-align">
                        <a href="{{ url_for('edit_book', book_id=book._id) }}" class="btn book-btn">
                            Edit
                        </a>
                    </div>

                    <div class="book-btn-container left-align">
                        <a href="{{ url_for('delete_book', book_id=book._id) }}" class="btn book-btn">
                            Delete
                        </a>
                    </div>
                {% endif %}

            </div>
                

        </section>

        <section id="book-description">
            <h5>Description</h5>
            <p>{{ book.description }}</p>
        </section>

        <section id="add-review">
            {% if session.user %}
            <h5>Add Review</h5>
            <div class="row lft">

                <form class="col s12 m10 l8 xl-2 offset-m1 offset-l2 offset-xl2" method="POST" action="{{ url_for('book', book_id=book._id) }}" enctype="multipart/form-data">

                    <div class="card-panel">

                        <!-- review title -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-book prefix"></i>
                                <input id="title" name="title" type="text" minlength="2" maxlength="100" class="validate" placeholder="Review Title" required>
                                <label for="title">Review Title</label>
                            </div>
                        </div>

                        <!-- description -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-comment prefix"></i>
                                <textarea id="comment" name="comment" class="materialize-textarea"></textarea>
                                <label for="comment">Comment</label>
                            </div>
                        </div>

                        <!-- submit button -->
                        <div class="row">
                            <button type="submit" class="col s12 btn-large btn-color text-shadow">
                                Add Review <i class="far fa-plus-square white-text"></i>
                            </button>
                        </div>
                        
                    </div>

                </form>

            </div>
            {% endif %}
        </section>

        <section id="reviews" class="row">
        </section>

    </section>

{% endblock %}