{% extends "base.html" %}

{% block content %}

    <section id="search-area">

        <form action="{{ url_for('search') }}" method="post">

            <div class="search-container row valign-wrapper center-align">

                <div class="search-bar input-field col s12">

                    <!-- <i class="fas fa-search prefix light-blue-text text-darken-4"></i> -->
                    <button class="prefix light-blue-text text-darken-4"><i class="fas fa-search"></i></button>
                    
                    <input type="text" name="query" id="query" minlength="3" placeholder="Search" required>

                </div>

            </div>

        </form>

    </section>

    <section class="row call-to-action-area">
        
            <div class="col s12 m6 cta-col">

                <div class="center-align">
                    <i class="fas fa-seedling cta-icon"></i>
                </div>

                <h4 class="center-align">Contribute</h4>

                <p class="center-align">Add to a growing catalogue of books by joining The Book Club!</p>

                <div class="btn-container center-align">
                    <a href="{{ url_for('register') }}" class="btn-large cta-btn">Register</a>
                </div>

            </div>

            <div class="col s12 m6 cta-col">

                <div class="center-align">
                    <i class="fas fa-book-reader cta-icon"></i>
                </div>

                <h4 class="center-align">Library</h4>
                
                <p class="center-align">Have a peruse through The Book Club library.</p>

                <div class="btn-container center-align">
                    <a href="{{ url_for('get_books') }}" class="btn-large cta-btn">View Library</a>
                </div>

            </div>

    </section>

    <section id="quotes-area" class="row">

        <h4 class="center-align">Reading Quotes</h4>

        <div class="quote-paragraph col s12 m6">
            <q>A mind needs books as a sword needs a whetstone if it is to keep its edge.</q>
            <p>~ George R.R. Martin</p>
        </div>

        <div class="quote-paragraph col s12 m6">
            <q>The man who does not read good books has no advantage over the man who can't read them.</q>
            <p>~ Mark Twain</p>
        </div>

    </section>

{% endblock %}

<!-- <form action="">
    <div id="search-container">
        <button type="submit"><i class="fa fa-search"></i></button>
        <input type="text" placeholder="Search.." name="search" > 
    </div>
</form> -->